<% @tasks.each do |task| %>
  <p><input type="checkbox" <%= task.completed ?  'checked' : nil %> disabled="true">
  <%= link_to task.title, task_path(task) %></p>
<% end %>

<p><%= link_to 'create a new task', new_path %></p>

